.titledinput{
    width:100%;
    .text4{
        font-size:14px;
    }

    display: flex;
    flex-direction: column;
    gap:10px;
    font-size:18px;
    input{
        padding:6px;
        font-size:18px;
        color:black;
        border-radius:6px;
        border:1px solid lightgrey;
        background-color: aliceblue;
    }
    .title{
        font-size:18px;
        font-weight: 600;
    }
    div{
        font-size:14px;
    }
    button{
        border:2px solid lightgrey;
        font-weight: 400;
        padding:4px;
        border-radius: 4px;
        width:fit-content;
        transition:200ms;
    }
    button:hover{
        background-color: lightgrey;
    }
    .buttonadd{
        display: block;
        width:100%;
    }

}

